<div class="jumbotron text-white rounded">
	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<div class="row">
		<div class="col-sm">
		<br>
		  <h3>Join the conversation</h3>
			<%= form_for @email, class: "form-inline" do |f| %>
			  <%= f.text_field :email %>
			  <%= f.submit "Sign Up", class: "btn btn-md button_submit_img" %>
		  	<% end %>
		</div>
		<div class="col-sm">
		<!-- Image tag -->
		</div>
	</div>
</div>

