<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "My Application" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learn Rails" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header>
        <nav class="navbar fixed-top navbar-light bg-light">
          <%= image_tag "JustSchools.png", id:"right-menu"%>
        </nav>
      </header>
      <main role="main" class="inner cover">
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
